@model IList<BCHousing.AfsWebAppMvc.Entities.Form>

<style>
    .checkbox-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4px;
    }

</style>

@using (Html.BeginForm("Edit", "Home", new { submissionId = Model[0].submissionId, activeTab = 4 }, FormMethod.Post))
{
    <div><strong>6. Contact Information</strong></div>
    <table class="table table-bordered table-responsive" style="table-layout:fixed;">
        <tbody>
            <tr>
                <td>
                    Home Phone #
                    @Html.HiddenFor(m => m[0].submissionId)
                    @Html.HiddenFor(m => m[0].sequence)
                    @Html.HiddenFor(m => m[0].field_name)
                    @Html.EditorFor(m => m[0].field_value, new { htmlAttributes = new { @class = "form-control text-danger"}})
                </td>
                <td>
                    Work Phone #
                    @Html.HiddenFor(m => m[1].submissionId)
                    @Html.HiddenFor(m => m[1].sequence)
                    @Html.HiddenFor(m => m[1].field_name)
                    @Html.EditorFor(m => m[1].field_value, new { htmlAttributes = new { @class = "form-control text-danger"}})
                </td>
            </tr>
            <tr>
                <td>
                    Cell Phone #
                    @Html.HiddenFor(m => m[2].submissionId)
                    @Html.HiddenFor(m => m[2].sequence)
                    @Html.HiddenFor(m => m[2].field_name)
                    @Html.EditorFor(m => m[2].field_value, new { htmlAttributes = new { @class = "form-control text-danger"}})
                </td>
                <td>
                    Email
                    @Html.HiddenFor(m => m[3].submissionId)
                    @Html.HiddenFor(m => m[3].sequence)
                    @Html.HiddenFor(m => m[3].field_name)
                    @Html.EditorFor(m => m[3].field_value, new { htmlAttributes = new { @class = "form-control text-danger"}})
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Optional:</strong> Name of person we can leave messages with
                    @Html.HiddenFor(m => m[4].submissionId)
                    @Html.HiddenFor(m => m[4].sequence)
                    @Html.HiddenFor(m => m[4].field_name)
                    @Html.EditorFor(m => m[4].field_value, new { htmlAttributes = new { @class = "form-control text-danger"}})
                </td>
                <td>
                    Message person phone number
                    @Html.HiddenFor(m => m[5].submissionId)
                    @Html.HiddenFor(m => m[5].sequence)
                    @Html.HiddenFor(m => m[5].field_name)
                    @Html.EditorFor(m => m[5].field_value, new { htmlAttributes = new { @class = "form-control text-danger"}})
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Optional:</strong> Authorized Contact* name and relationship to you
                    @Html.HiddenFor(m => m[6].submissionId)
                    @Html.HiddenFor(m => m[6].sequence)
                    @Html.HiddenFor(m => m[6].field_name)
                    @Html.EditorFor(m => m[6].field_value, new { htmlAttributes = new { @class = "form-control text-danger"}})
                </td>
                <td>
                    Authorized Contact phone number
                    @Html.HiddenFor(m => m[7].submissionId)
                    @Html.HiddenFor(m => m[7].sequence)
                    @Html.HiddenFor(m => m[7].field_name)
                    @Html.EditorFor(m => m[7].field_value, new { htmlAttributes = new { @class = "form-control text-danger"}})
                </td>
            </tr>
            <tr>
                <td>
                    <strong>If Applicable:</strong> Power of Attorney name
                    @Html.HiddenFor(m => m[8].submissionId)
                    @Html.HiddenFor(m => m[8].sequence)
                    @Html.HiddenFor(m => m[8].field_name)
                    @Html.EditorFor(m => m[8].field_value, new { htmlAttributes = new { @class = "form-control text-danger"}})
                </td>
                <td>
                    Power of Attorney phone number
                    @Html.HiddenFor(m => m[9].submissionId)
                    @Html.HiddenFor(m => m[9].sequence)
                    @Html.HiddenFor(m => m[9].field_name)
                    @Html.EditorFor(m => m[9].field_value, new { htmlAttributes = new { @class = "form-control text-danger"}})
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <small>*By providing an authorized contact, you are giving permission for BC Housing to exchange information with that authorized contact in order to maintain and update your SAFER file. To remove an authorized contact, please contact BC Housing.</small>
    </div>
    <br />


    <div><strong>7. Residential Address</strong></div>
    <table class="table table-bordered table-responsive" style="table-layout:fixed;">
        <tbody>
            <tr>
                <td>
                    Apt #
                    @Html.HiddenFor(m => m[10].submissionId)
                    @Html.HiddenFor(m => m[10].sequence)
                    @Html.HiddenFor(m => m[10].field_name)
                    @Html.EditorFor(m => m[10].field_value, new { htmlAttributes = new { @class = "form-control text-danger"}})
                </td>
                <td>
                    Street #
                    @Html.HiddenFor(m => m[11].submissionId)
                    @Html.HiddenFor(m => m[11].sequence)
                    @Html.HiddenFor(m => m[11].field_name)
                    @Html.EditorFor(m => m[11].field_value, new { htmlAttributes = new { @class = "form-control text-danger"}})
                </td>
                <td colspan="2">
                    Street Name
                    @Html.HiddenFor(m => m[12].submissionId)
                    @Html.HiddenFor(m => m[12].sequence)
                    @Html.HiddenFor(m => m[12].field_name)
                    @Html.EditorFor(m => m[12].field_value, new { htmlAttributes = new { @class = "form-control text-danger"}})
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div style="display: flex; flex-wrap: wrap;">
                        <div>City</div>
                        <div style="width: 90%;">
                            @Html.HiddenFor(m => m[13].submissionId)
                            @Html.HiddenFor(m => m[13].sequence)
                            @Html.HiddenFor(m => m[13].field_name)
                            @Html.EditorFor(m => m[13].field_value, new { htmlAttributes = new { @class = "form-control text-danger"}})
                        </div>
                    </div>
                </td>
                <td class="text-center">B.C.</td>
                <td>
                    <div style="display: flex; flex-wrap: wrap;">
                        <div>Postal Code</div>
                        <div style="width: 70%;">
                            @Html.HiddenFor(m => m[14].submissionId)
                            @Html.HiddenFor(m => m[14].sequence)
                            @Html.HiddenFor(m => m[14].field_name)
                            @Html.EditorFor(m => m[14].field_value, new { htmlAttributes = new { @class = "form-control text-danger"}})
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div><strong>7a. Mailing Address</strong> *Mail is to sent to the residential address, with the exception of rural areas with no mail delivery</div>
    <table class="table table-bordered table-responsive" style="table-layout:fixed;">
        <tbody>
            <tr>
                <td>
                    Apt #
                    @Html.HiddenFor(m => m[15].submissionId)
                    @Html.HiddenFor(m => m[15].sequence)
                    @Html.HiddenFor(m => m[15].field_name)
                    @Html.EditorFor(m => m[15].field_value, new { htmlAttributes = new { @class = "form-control text-danger"}})
                </td>
                <td>
                    Street #
                    @Html.HiddenFor(m => m[16].submissionId)
                    @Html.HiddenFor(m => m[16].sequence)
                    @Html.HiddenFor(m => m[16].field_name)
                    @Html.EditorFor(m => m[16].field_value, new { htmlAttributes = new { @class = "form-control text-danger"}})
                </td>
                <td colspan="2">
                    Street Name
                    @Html.HiddenFor(m => m[17].submissionId)
                    @Html.HiddenFor(m => m[17].sequence)
                    @Html.HiddenFor(m => m[17].field_name)
                    @Html.EditorFor(m => m[17].field_value, new { htmlAttributes = new { @class = "form-control text-danger"}})
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div style="display: flex; flex-wrap: wrap;">
                        <div>City</div>
                        <div style="width: 90%;">
                            @Html.HiddenFor(m => m[18].submissionId)
                            @Html.HiddenFor(m => m[18].sequence)
                            @Html.HiddenFor(m => m[18].field_name)
                            @Html.EditorFor(m => m[18].field_value, new { htmlAttributes = new { @class = "form-control text-danger"}})
                        </div>
                    </div>
                </td>
                <td class="text-center">B.C.</td>
                <td>
                    <div style="display: flex; flex-wrap: wrap;">
                        <div>Postal Code</div>
                        <div style ="width: 70%;">
                            @Html.HiddenFor(m => m[19].submissionId)
                            @Html.HiddenFor(m => m[19].sequence)
                            @Html.HiddenFor(m => m[19].field_name)
                            @Html.EditorFor(m => m[19].field_value, new { htmlAttributes = new { @class = "form-control text-danger"}})
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div><strong>7b. Landlord Information</strong></div>
    <table class="table table-bordered table-responsive" style="table-layout:fixed;">
        <tbody>
            <tr>
                <td>
                    Landlord Name
                    @Html.HiddenFor(m => m[20].submissionId)
                    @Html.HiddenFor(m => m[20].sequence)
                    @Html.HiddenFor(m => m[20].field_name)
                    @Html.EditorFor(m => m[20].field_value, new { htmlAttributes = new { @class = "form-control text-danger"}})
                </td>
                <td>
                    Landlord Phone
                    @Html.HiddenFor(m => m[21].submissionId)
                    @Html.HiddenFor(m => m[21].sequence)
                    @Html.HiddenFor(m => m[21].field_name)
                    @Html.EditorFor(m => m[21].field_value, new { htmlAttributes = new { @class = "form-control text-danger"}})
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    Landlord Address
                    @Html.HiddenFor(m => m[22].submissionId)
                    @Html.HiddenFor(m => m[22].sequence)
                    @Html.HiddenFor(m => m[22].field_name)
                    @Html.EditorFor(m => m[22].field_value, new { htmlAttributes = new { @class = "form-control text-danger"}})
                </td>
            </tr>
        </tbody>
    </table>

    <div><strong>8. Rent Information</strong></div>
    <table class="table table-bordered table-responsive" style="table-layout:fixed;">
        <tbody>
            <tr>
                <td>
                    <div style="display: flex; flex-wrap: wrap; width: 100%">
                        <div style="padding: 8px;"><strong>8a. Do you:</strong></div>
                        <div style="padding: 8px">
                            @Html.HiddenFor(m => m[23].submissionId)
                            @Html.HiddenFor(m => m[23].sequence)
                            @Html.HiddenFor(m => m[23].field_name)
                            @Html.CheckBox("[23].field_value", (Model[23].field_value == ":selected:" ? true : false)) Rent

                            @Html.HiddenFor(m => m[24].submissionId)
                            @Html.HiddenFor(m => m[24].sequence)
                            @Html.HiddenFor(m => m[24].field_name)
                            @Html.CheckBox("[24].field_value", (Model[24].field_value == ":selected:" ? true : false)) Own

                            @Html.HiddenFor(m => m[25].submissionId)
                            @Html.HiddenFor(m => m[25].sequence)
                            @Html.HiddenFor(m => m[25].field_name)
                            @Html.CheckBox("[25].field_value", (Model[25].field_value == ":selected:" ? true : false)) Life Lease

                            @Html.HiddenFor(m => m[26].submissionId)
                            @Html.HiddenFor(m => m[26].sequence)
                            @Html.HiddenFor(m => m[26].field_name)
                            @Html.CheckBox("[26].field_value", (Model[26].field_value == ":selected:" ? true : false)) Rent-to-own
                        </div>
                    </div>

                    <div style="display: flex; flex-wrap: wrap;">
                        <div style="padding: 8px;"><strong>How much is your rent? $</strong></div>
                        <div style="padding: 8px; width: 50%">
                            @Html.HiddenFor(m => m[27].submissionId)
                            @Html.HiddenFor(m => m[27].sequence)
                            @Html.HiddenFor(m => m[27].field_name)
                            @Html.EditorFor(m => m[27].field_value, new { htmlAttributes = new { @class = "form-control text-danger"}})
                        </div>
                        <div style="padding: 8px;"><small> (Do you include hydro, cable or parking in rent amount)</small></div>
                    </div>

                    <div style ="display: flex; flex-wrap: wrap;">
                        <div style="padding: 8px;">Is this: </div>
                        <div style="padding: 8px;">
                            @Html.HiddenFor(m => m[28].submissionId)
                            @Html.HiddenFor(m => m[28].sequence)
                            @Html.HiddenFor(m => m[28].field_name)
                            @Html.CheckBox("[28].field_value", (Model[28].field_value == ":selected:" ? true : false)) Monthly

                            @Html.HiddenFor(m => m[29].submissionId)
                            @Html.HiddenFor(m => m[29].sequence)
                            @Html.HiddenFor(m => m[29].field_name)
                            @Html.CheckBox("[29].field_value", (Model[29].field_value == ":selected:" ? true : false)) Weekly

                            @Html.HiddenFor(m => m[30].submissionId)
                            @Html.HiddenFor(m => m[30].sequence)
                            @Html.HiddenFor(m => m[30].field_name)
                            @Html.CheckBox("[30].field_value", (Model[30].field_value == ":selected:" ? true : false)) Nightly/Daily
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="display: flex; flex-wrap: wrap;">
                    <div style="padding: 8px;">
                        Does your rent include heat?
                    </div>
                    <div style="padding: 8px;">
                        @Html.HiddenFor(m => m[31].submissionId)
                        @Html.HiddenFor(m => m[31].sequence)
                        @Html.HiddenFor(m => m[31].field_name)
                        @Html.CheckBox("[31].field_value", (Model[31].field_value == ":selected:" ? true : false)) Yes

                        @Html.HiddenFor(m => m[32].submissionId)
                        @Html.HiddenFor(m => m[32].sequence)
                        @Html.HiddenFor(m => m[32].field_name)
                        @Html.CheckBox("[32].field_value", (Model[32].field_value == ":selected:" ? true : false)) No
                    </div>
                </td>
            </tr>
            <tr>
                <td style="display: flex; flex-wrap: wrap;">
                    <div style="padding: 8px;">
                        Is your rent subsidized?
                    </div>
                    <div style="padding: 8px;">
                        @Html.HiddenFor(m => m[33].submissionId)
                        @Html.HiddenFor(m => m[33].sequence)
                        @Html.HiddenFor(m => m[33].field_name)
                        @Html.CheckBox("[33].field_value", (Model[33].field_value == ":selected:" ? true : false)) Yes

                        @Html.HiddenFor(m => m[34].submissionId)
                        @Html.HiddenFor(m => m[34].sequence)
                        @Html.HiddenFor(m => m[34].field_name)
                        @Html.CheckBox("[34].field_value", (Model[34].field_value == ":selected:" ? true : false)) No
                    </div>
                </td>
            </tr>
            <tr>
                <td style="display: flex; flex-wrap: wrap;">
                    <div style="padding: 8px;">
                        Does your rent include meals?
                    </div>
                    <div style="padding: 8px;">
                        @Html.HiddenFor(m => m[35].submissionId)
                        @Html.HiddenFor(m => m[35].sequence)
                        @Html.HiddenFor(m => m[35].field_name)
                        @Html.CheckBox("[35].field_value", (Model[35].field_value == ":selected:" ? true : false)) Yes

                        @Html.HiddenFor(m => m[36].submissionId)
                        @Html.HiddenFor(m => m[36].sequence)
                        @Html.HiddenFor(m => m[36].field_name)
                        @Html.CheckBox("[36].field_value", (Model[36].field_value == ":selected:" ? true : false)) No
                    </div>
                    <div style="padding: 8px;">
                        If Yes, how many meals per day?
                    </div>
                    <div style="padding: 8px; width: 30%;">
                        @Html.HiddenFor(m => m[37].submissionId)
                        @Html.HiddenFor(m => m[37].sequence)
                        @Html.HiddenFor(m => m[37].field_name)
                        @Html.EditorFor(m => m[37].field_value, new { htmlAttributes = new { @class = "form-control text-danger"}})
                    </div>
                </td>
            </tr>
            <tr>
                <td style="display: flex; flex-wrap: wrap;">
                    <div style="padding: 8px;">
                        Do you share a kitchen or bathroom with another tenant or your landlord?
                    </div>
                    <div style="padding: 8px;">
                        @Html.HiddenFor(m => m[38].submissionId)
                        @Html.HiddenFor(m => m[38].sequence)
                        @Html.HiddenFor(m => m[38].field_name)
                        @Html.CheckBox("[38].field_value", (Model[38].field_value == ":selected:" ? true : false)) Yes

                        @Html.HiddenFor(m => m[39].submissionId)
                        @Html.HiddenFor(m => m[39].sequence)
                        @Html.HiddenFor(m => m[39].field_name)
                        @Html.CheckBox("[39].field_value", (Model[39].field_value == ":selected:" ? true : false)) No
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div><strong>8b. Check all of the following that apply: </strong></div>
    <table class="table table-bordered table-responsive" style="table-layout:fixed;">
        <tbody>
            <tr>
                <td class="checkbox-grid">
                    <div>
                        @Html.HiddenFor(m => m[40].submissionId)
                        @Html.HiddenFor(m => m[40].sequence)
                        @Html.HiddenFor(m => m[40].field_name)
                        @Html.CheckBox("[40].field_value", (Model[40].field_value == ":selected:" ? true : false)) I live in a self-contained unit (apartment, house, townhouse)
                    </div>

                    <div>
                        @Html.HiddenFor(m => m[41].submissionId)
                        @Html.HiddenFor(m => m[41].sequence)
                        @Html.HiddenFor(m => m[41].field_name)
                        @Html.CheckBox("[41].field_value", (Model[41].field_value == ":selected:" ? true : false)) I live with family or friends (other than spouse/common law partner)
                    </div>
                    <div>
                        @Html.HiddenFor(m => m[42].submissionId)
                        @Html.HiddenFor(m => m[42].sequence)
                        @Html.HiddenFor(m => m[42].field_name)
                        @Html.CheckBox("[42].field_value", (Model[42].field_value == ":selected:" ? true : false)) I live in a self-contained basement suite
                    </div>
                    <div>
                        @Html.HiddenFor(m => m[43].submissionId)
                        @Html.HiddenFor(m => m[43].sequence)
                        @Html.HiddenFor(m => m[43].field_name)
                        @Html.CheckBox("[43].field_value", (Model[43].field_value == ":selected:" ? true : false)) I live in a Housing Co-operative
                    </div>
                    <div>
                        @Html.HiddenFor(m => m[44].submissionId)
                        @Html.HiddenFor(m => m[44].sequence)
                        @Html.HiddenFor(m => m[44].field_name)
                        @Html.CheckBox("[44].field_value", (Model[44].field_value == ":selected:" ? true : false)) I live in a Manufactured/Trailer/Mobile home
                    </div>
                    <div>
                        @Html.HiddenFor(m => m[45].submissionId)
                        @Html.HiddenFor(m => m[45].sequence)
                        @Html.HiddenFor(m => m[45].field_name)
                        @Html.CheckBox("[45].field_value", (Model[45].field_value == ":selected:" ? true : false)) I live a Hotel/Motel
                    </div>
                    <div>
                        @Html.HiddenFor(m => m[46].submissionId)
                        @Html.HiddenFor(m => m[46].sequence)
                        @Html.HiddenFor(m => m[46].field_name)
                        @Html.CheckBox("[46].field_value", (Model[46].field_value == ":selected:" ? true : false)) Other (describe)
                        <div style="padding: 8px; width: 100%;">
                            @Html.HiddenFor(m => m[47].submissionId)
                            @Html.HiddenFor(m => m[47].sequence)
                            @Html.HiddenFor(m => m[47].field_name)
                            @Html.EditorFor(m => m[47].field_value, new { htmlAttributes = new { @class = "form-control text-danger"}})
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="display: grid;grid-template-columns: 6fr 3fr; gap: 3px;">
                    <div style="display: grid; grid-template-columns: 4fr 1fr 1fr; gap: 3px;">
                        <div style="padding: 8px;">If you live in a manufatured/trailer/mobile home, do you?</div>
                        <div style="padding: 8px;">
                            @Html.HiddenFor(m => m[48].submissionId)
                            @Html.HiddenFor(m => m[48].sequence)
                            @Html.HiddenFor(m => m[48].field_name)
                            @Html.CheckBox("[48].field_value", (Model[48].field_value == ":selected:" ? true : false)) Own
                        </div>
                        <div style="padding: 8px;">
                            @Html.HiddenFor(m => m[49].submissionId)
                            @Html.HiddenFor(m => m[49].sequence)
                            @Html.HiddenFor(m => m[49].field_name)
                            @Html.CheckBox("[49].field_value", (Model[49].field_value == ":selected:" ? true : false)) Rent
                        </div>
                    </div>
                    <div style="display: grid; grid-template-columns: 2fr 3fr;">
                        <div style="padding: 8px;">
                            Trailer Rent $
                        </div>
                        <div style="padding: 8px;">
                            @Html.HiddenFor(m => m[50].submissionId)
                            @Html.HiddenFor(m => m[50].sequence)
                            @Html.HiddenFor(m => m[50].field_name)
                            @Html.EditorFor(m => m[50].field_value, new { htmlAttributes = new { @class = "form-control text-danger"}})
                        </div>
                    </div>
                    
                </td>
                <td style="display: grid;grid-template-columns: 6fr 3fr; gap: 10px;">
                    <div style="display: flex; flex-wrap: wrap;">
                        <div style="padding: 8px;">
                            Do you pay pad rental?
                        </div>
                        <div style="padding: 8px;">
                            @Html.HiddenFor(m => m[51].submissionId)
                            @Html.HiddenFor(m => m[51].sequence)
                            @Html.HiddenFor(m => m[51].field_name)
                            @Html.CheckBox("[51].field_value", (Model[51].field_value == ":selected:" ? true : false)) Yes
                        </div>
                        <div style="padding: 8px;">
                            @Html.HiddenFor(m => m[52].submissionId)
                            @Html.HiddenFor(m => m[52].sequence)
                            @Html.HiddenFor(m => m[52].field_name)
                            @Html.CheckBox("[52].field_value", (Model[52].field_value == ":selected:" ? true : false)) No
                        </div>
                    </div>
                    <div style="display: grid; grid-template-columns: 2fr 3fr;">
                        <div style="padding: 8px;">
                            Pad Rent $
                        </div>
                        <div style="padding: 8px;">
                            @Html.HiddenFor(m => m[53].submissionId)
                            @Html.HiddenFor(m => m[53].sequence)
                            @Html.HiddenFor(m => m[53].field_name)
                            @Html.EditorFor(m => m[53].field_value, new { htmlAttributes = new { @class = "form-control text-danger"}})
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="col-md-offset-2 col-md-19">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
}




