@model BCHousing.AfsWebAppMvc.Models.SubmissionLogsVisualizationViewModel;
@{
    ViewData["Title"] = "Visualization Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center text-dark">
    <h1 class="display-2">Welcome to Visualization Portal</h1>
</div>

<div class="container-fluid">
    <table style="width:100%; border-collapse:collapse; padding: 8px;">
        <thead>
            <tr>
                <th>
                    <button id="RefreshButton" type="button" class="btn btn-dark" onclick="location.href='@Url.Action("Refresh","Home")'">Refresh</button>
                </th>
            </tr>
        </thead>
        <tbody>
            @if(@Model.NumberOfFile > 0) {
                @for(int i = 0; i < @Model.NumberOfFile; i++)
                {
                    <tr style="padding:8px; text-align: left;">
                        <td>@(i+1). @Model.SubmissionLogs[i].submissionId - @Model.SubmissionLogs[i].document_name - @Model.SubmissionLogs[i].document_size [bytes]</td>
                        <td>
                            <div class="btn-group float-sm-end" id="buttonGroup-@i">
                                <form method="post" asp-controller="Home" asp-action="Review">
                                    <input type="hidden" name="url" value="@Model.SubmissionLogs[i].path_to_document">
                                    <button id="ReviewButton-@i" type="submit" class="btn btn-dark" style="background-color:transparent; border-block-color:black; color: black">Review</button>
                                </form>
                                <form method="post" asp-controller="Home" asp-action="Edit">
                                    @Html.ActionLink("Edit", "Edit", "Home", new {submissionId = Model.SubmissionLogs[i].submissionId, classifyType = Model.SubmissionLogs[i].classify_type, activeTab = 1}, new {@class = "btn btn-dark", style="background-color:transparent; border-block-color:black; color: black"})
                                </form>
                                <form method="post" asp-controller="Home" asp-action="Download">
                                    <input type="hidden" name="url" value="@Model.SubmissionLogs[i].path_to_document">
                                    <button id="DownloadButton-@i" type="submit" class="btn btn-dark" style="background-color:transparent; border-block-color:black; color: black">Download</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
